@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --darkest-gray-blue: hsl(229, 23%, 23%);
    --grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}
body {   
    -webkit-box-align: center;   
        -ms-flex-align: center;   
            align-items: center;
    background: url("../images/bg-pattern-top.svg") top -520px left -300px no-repeat, url("../images/bg-pattern-bottom.svg") bottom -620px right -240px no-repeat;
    background-color: var(--dark-cyan); 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column; 
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
}
.card {
    background: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 25px 75px 0px rgb(0 0 0 / 25%);
            box-shadow: 0px 25px 75px 0px rgb(0 0 0 / 25%);
    color: var(--grayish-blue);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    min-width: 350px;
}
.card__author-name, 
.card__stats-item span {
    color: var(--darkest-gray-blue);
    font-weight: 700;
    padding-bottom: 10px;
}
.card__author::after {
    background: var(--dark-gray);
    content: "";
    display: block;
    height: 1px;
    opacity: .2;
    width: 100%;
}
.card__author-image {
    background: url('../images/bg-pattern-card.svg');
    border-radius: 15px 15px 0 0;
    height: 140px;
    margin-bottom: 77px;
    position: relative;
}
.card__author-image img {
    border: 5px solid white;
    border-radius: 50%;
    bottom: -52px;
    left: calc(50% - 52px);
    position: absolute;
    margin: 0 auto;
}
.card__author-name {
    padding-right: 5px;
}
.card__author-location {
    padding-top: 10px;
    padding-bottom: 21.6px;
    font-size: .8rem;
}
.card__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 25px;
}
.card__stats-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
    font-size: .5rem;
    letter-spacing: 0.111rem;
}
.card__stats-item span {
    font-size: 1rem;
    letter-spacing: normal;
    padding-bottom: 6px;
}
footer {
    font-size: .8rem;
    height: 35px;
    letter-spacing: 0.05rem;
    margin-top: auto;
    padding-top: 7px;
    text-align: center;
}
footer a {
    color: var(--darkest-gray-blue);
    font-size: inherit;
    transition: all .3s;
}
footer a:hover {
    opacity: .5;
}